p:not(:has(img)) {
    font-size: 22px;
    display: block;

    /* text width: */
    /* width: 460px;  */
}
img { height: 400px; display: block; margin: 0 0 -50px auto; }

span {
  /* background-color: #eee; */
  display: inline-block;
  text-align: center;
}
